/* csssssss */
input { /* the input boxes in the contact page*/
    width: 50%;
    height: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
}

#courses { /*the explore courses button in the homepage*/
    text-align: center;
    display: block;
    background-color: #dddddd;
    transition: all 0.2s;
    cursor: pointer;
    color: #000000;
    font-weight: 400;
    font-size: 18px;
}
#courses:hover { /* hover for the courses button above*/
    background-color: #888888;
    box-shadow: 0px 10px 20px #bbbbbb;
    font-size: 23px;
    color: #ffffff;
}

#center   /*just used to center text*/
    text-align: center;
}
#taskbartext{ /*for the home and contact buttons*/
    display:block;  
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    
}
#taskbartextgcse{
    /*display:inline-block; */
    display: block;
    color: #ffffff;
    margin-top: -10px;       /* if the gcse course box doesnt match with the rest change these margins*/
    margin-bottom: -18px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
    
#bodyblock { /* the big white boxes*/
    background: #ffffff;
    display:block;
    margin-left: 5%;
    margin-right: 5%;
    bottom: -10px;
    z-index: 1;
    min-width: 400px;
    
}
#highdownlogo{ /*the highdown logo*/
    margin-top: 16px;
    position: absolute;
    margin-left:10px;
    background-image: url("https://www.dropbox.com/s/5miq5rfpxf8qabf/highdown%20100x%20white.png?dl=1");
    height: 50px;
    width: 50px;
    background-size:contain;
    background-repeat:no-repeat;
}

#highdowntitle { /*the highdown title*/
    position: absolute;
    height: 40px;
    overflow: hidden;
    vertical-align: middle;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #ffffff;
    margin-left: 70px;
    margin-top: 19px;
}
#shadowtext { /* adds shadows to words and stuff*/
    text-shadow: 0px 0px 40px #000000;
}

#pagetitle{ /* the big title at the top*/
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 72px;
    text-align: center;
    margin-top: 20px;
    color: #ffffff;

}
#bodycontent { /* content inside the big the white boxes*/
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 25px;
    margin-bottom: 25px;
    bottom: 25px;
    color: #000000;
    text-align: left;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 20px;    
}
#bodycontentpicture { /* body content adapted for when used with pictures inside*/
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 25px;
    margin-bottom: 25px;
    bottom: 25px;
    color: #000000;
    max-width: 815px;
    min-width: 407px;
    text-align: left;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 20px;
}
#gallery-background { /* the big backgroudn behind everything*/
    position: fixed;
    top: 100px;
    left: 0;
    bottom: 0;
    right: 0;
    overflow-y: scroll;
    z-index: -1;
    background-image: url("https://www.dropbox.com/s/zhaej83xig0uy6n/material%20bg%20is%20c7c7c7.png?dl=1"); /* background url goes here */
    background-repeat:no-repeat;
    background-size:cover;
    background-position: center; 
    background-color: #c7c7c7;
}
#titlebg { /* the brown bar */
    top: -20px;
    left: -50px;
    display: block;
    position:fixed;
    height: 120px;
    width: 200%;
    color: #ffffff;
    background-color: #3e2723;
    text-align: center;
    box-shadow: 0px 0px 60px #000000;
}

ul { /* all unordered lists*/
    margin: 0;
    padding: 0;
    margin-left: 30px;
} 

/*------- TESTING NEW DROPDOWN FROM WEB---------*/
    
ol {
    text-align: center;
    vertical-align: middle;
    display: inline;
    margin: 0;
    padding: 15px 1px 17px 0;
    list-style: none;
}
ol li {
    font: bold 19px sans-serif;
    display: inline-block;
    vertical-align: middle;
    float: right;
    top: -10px; /*distance every block is away from top*/
    margin-right: px;
    position: relative;
    padding: 40px 4vw;
    background: #3e2723;
    cursor: pointer;
    opacity: 0.8;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}
ol li:hover {
    background: #6a504b;
    color: #ffffff;
    opacity: 1;
    box-shadow: 0px 10px 25px #000000;

}
ol li ol {
    padding: 0;
    position: absolute;
    top: 112px; /*distance the dropdown is from the top*/
    width: 150px;
    height: 50px;
    display: none;
    opacity: 0;
    visibility: hidden;
    -webkit-transiton: opacity 0.3s, width 0.2s;
    -moz-transition: opacity 0.3s, width 0.2s;
    -ms-transition: opacity 0.3s, width 0.2s;
    -o-transition: opacity 0.3s, width 0.2s;
    transition: opacity 0.3s, width 0.2s;
    transition: box-shadow 0.4s;
}
ol li ol li { /*the box that drops down*/
    background: #6a504b; 
    display: block; 
    color: #ffffff;
    width: 27vw;
    transition: opacity 0.4s, background 0.2s;
    transition: box-shadow 0.4s;

}
ol li ol li:hover { background: #3e2723; } /* also the box that drops down?*/
    ol li:hover ol {
    display: block;
    opacity: 1;
    visibility: visible;
    margin-right: 7vw;

}
#bottombanner{
    display: block;
    left: -10px;
    bottom: -10px;
    background-color: #111111;
    height: 50px;
}
a{
    height: 100%;
    width: 100%;
    text-decoration: none;
    color: white;
}


a:visited {
    color:white;
    text-decoration: none;
}
